.input-container{
    display: flex;
    justify-content: center;
    width: auto;
    background-color: white;
    position: relative;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    border-radius: 6px;
    border: 2px solid black;
    align-items: center;
}
.input-container form{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: .625rem;
}
.input-container h3{
    text-align: center;
}

.text-white{
    color: black;
}

#input{
    width: auto;
    height:auto;
    border: 2px dashed black;
    padding: 10px;
    border-radius: 6px;
}

#input:hover{
   box-shadow: 2px 2px 2px gray;
}

.input-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: .625rem;
}

.outer-input{
    background-color: white;
    width: auto;
}

.search-button{
    width: 5.7rem;
    background-color: transparent;
    color: black;
    outline: none;
    border: 2px solid black;
    padding: 6px;
    margin: 2px 1px 2px 1px ;
    border-radius: 6px;
    align-items: center;
    
}
.close-input-btn{
    width: 5.7rem;
    background-color: transparent;
    color: black;
    outline: none;
    border: 2px solid black;
    padding: 6px;
    margin: 2px 1px 2px 1px ;
    border-radius: 6px;
    align-items: center;
}
.fa-xmark{
    font-size: 20px;
}
.fa-magnifying-glass{
    position: absolute;
    top: 19px;
    right: 12px;
    color: black;
}
.display-input-field{
    width: 200px;
}

@media (max-width: 760px) {
    .input-container{
        width: auto;
    }
}